@model IEnumerable<WebApplication1_EF2.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table border="1" class="table table-bordered table-responsive">
    <thead>
        <tr class="btn-primary">
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Description</th>
            <th>Detaya Git</th>
            <th>Silme</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
            <td><a asp-action="Guncelleme" asp-controller="Category" asp-route-id="@item.CategoryId">Güncelle</a></td>

            <td><a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryId">Sil</a></td>
        </tr>
    }
</table>
